.counter {
   --color_counter: aqua;
   max-width: 400px;
   width: 100%;
   padding: 30px;

   border: 1px solid var(--color_counter);
   border-radius: 12px;
}

.counter_number {
   width: 100%;
   padding: 24px;
   margin-bottom: 24px;

   font-size: 48px;
   text-align: center;
   color: var(--color_counter);

   border: 1px solid var(--color_counter);
   border-radius: 12px;
   transition: font-size 300ms linear, color 300ms linear;
}

.counter_number__active {
   color: tomato;
   font-size: 56px;
}

.counter_wrap {
   display: flex;
   align-items: center;
   column-gap: 24px;
   padding: 24px;

   border: 1px solid var(--color_counter);
   border-radius: 12px;
}
