.counter {
   max-width: 300px;
   width: 100%;
   padding: 20px;

   border: 1px solid aqua;
   border-radius: 12px;
}

.counter_number {
   width: 100%;
   padding: 24px;
   margin-bottom: 24px;

   font-size: 48px;
   text-align: center;
   color: tomato;

   background-color: aqua;
   border-radius: 12px;
}

.counter_wrap {
   display: flex;
   align-items: center;
   column-gap: 24px;
   padding: 24px;

   border: 1px solid aqua;
   border-radius: 12px;
}
